version: '3.8'

services:
  db:
    image: mysql:8.0
    container_name: recruitment_mysql
    restart: always
    environment:
      MYSQL_DATABASE: recruitment_db
      MYSQL_USER: user
      MYSQL_PASSWORD: password
      MYSQL_ROOT_PASSWORD: rootpassword
    ports:
      - "3306:3306"
    volumes:
      - db_data:/var/lib/mysql

volumes:
  db_data:
